@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
    --color-black: rgb(31, 37, 68);
    --color-navy: rgb(71, 79, 122);
    --color-purple: rgb(129, 104, 157);
    --color-pink: rgb(255, 208, 236);
}

html,
body {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', 'Courier New', Courier, monospace;
}

/* * {
    border: 1px solid red;
} */

main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--color-purple);
}

.sidebar {
    background-color: var(--color-navy);
    display: grid;
    grid-template-rows: minmax(1%, 150px) repeat(9, minmax(.5%, 60px));
}

.sidebar > a:first-of-type > img {
    margin-left: 1rem;
    width: 2rem;
}

.sidebar h1 {
    padding-right: 1rem;
}

.sidebar > a {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    justify-items: flex-start;
    gap: 1rem;
}

.sidebar img {
    margin-left: 2rem;
    width: 1.5rem;
}

.content {
    display: grid;
    grid-template: minmax(0px, 100px) minmax(0, 150px) 6fr 6fr / 3fr 1fr;
}

.searchbar {
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--color-pink);
}

.left,
.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    flex: 1;
    justify-content: flex-start;
}

.left > input {
    flex: 1;
}

.left > *,
.right > * {
    margin: 0 1rem;
}

.searchbar img,
.searchbar a:has(> img) {
    width: 1.5rem;
}

.header img  {
    width: 3rem;
}

.header {
    grid-area: 2 / 1 / 3 / 3;
    display: grid;
    grid-template: 1fr 1fr / repeat(2, 1fr) 4fr repeat(3, 1fr);
    padding: 1rem;
    gap: 1rem;
    background-color: var(--color-pink);
}

.header img {
    grid-row: 1 / 3;
    align-self: center;
}

.header h4 {
    grid-area: 1 / 2 / 2 / 3;
    justify-self: center;
    margin-bottom: 0.1rem;
}

.header h2 {
    grid-area: 2 / 2 / 3 / 3;
    justify-self: center;
    margin-top: 0.1rem;
}

.header button:first-of-type {
    grid-column: 4 / 5;
}

.header button:first-of-type + button{
    grid-column: 5 / 6;
}

.header button:first-of-type + button + button{
    grid-column: 6 / 7;
    margin-right: 2rem;
}

.header button {
    grid-row: 1/3;
    align-self: center;
    justify-self: center;
    width: 4rem;
    border-radius: 20px;
    color: white;
    background: linear-gradient(to top, var(--color-purple), var(--color-navy));
}

.project-container {
    grid-area: 3 / 1 / 5 / 2;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 10px var(--color-navy), inset 10px 0 var(--color-black)
}

.project p {
    flex: 1;
}

.project .buttons {
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.buttons > * {
    margin: 1rem;
}

.announcement-container {
    grid-area: 3 / 2 / 4 / 3;
}

.announcements,
.trending{
    background-color: var(--color-pink);
    border-radius: 20px;
    padding: 1rem;
}

.announcement {
    padding: 1rem;
    border-bottom: 1px solid var(--color-black);
}

.announcement:last-of-type {
    border-bottom: none;
}

.trending-container {
    grid-area: 4 / 2 / 5 / 3;
}

.card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
}

.card-content {
    display: flex;
    flex-direction: column;
}

.card img {
    width: 3rem;
}

.project-container,
.announcement-container,
.trending-container {
    display: grid;
    grid-template-rows: minmax(0, 100px) 1fr;
    padding: 1rem;
}

.project-container > h3,
.announcement-container > h3,
.trending-container > h3 {
    display: flex;
    align-items: center;
}

.projects,
.announcements,
.trending {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 400px));
    justify-content: space-evenly;
    gap: 1rem;
    margin: 1rem;
}

.projects > * {
    background-color: var(--color-pink);
    border-radius: 20px;
}

.projects > *,
.announcements > *,
.trending > * {
    padding: 1rem;
}

a {
    text-decoration: none;
}
a:hover {
    transform: scale(1.05);
}

.sidebar > a:hover {
    color: var(--color-pink);   
}

a:hover {
    color: var(--color-black);
}

a:link {
    color: bisque;
}

a:visited {
    color: indigo;
}

input {
    border-radius: 20px;
}

.star {
    width: 2rem;
    height: 2rem;
    background: url("../assests/images/star-plus-outline.svg");
}

.view {
    width: 2rem;
    height: 2rem;
    background: url("../assests/images/eye-outline.svg");
}

.view-code {
    width: 2rem;
    height: 2rem;
    background: url("../assests/images/code-tags.svg");
}

.star:hover,
.view:hover,
.view-code:hover {
    transform: scale(1.05);
    cursor: pointer;
}




footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    gap: 1rem;
    background-color: var(--color-black);
    color: white;
}

footer img {
    width: 1.5rem;
}

button:hover {
    transform: scale(1.1) perspective(1px);
}

@media only screen and (max-width: 750px) {
    .sidebar > a {
        width: 5rem;
        overflow: hidden;
    }

    .sidebar h1,
    .sidebar h3 {
        visibility: hidden;
    }

    .header {
        grid-template: repeat(3, minmax(0, 1fr)) / repeat(3, minmax(0, 1fr));
        
    }
    .header button:first-of-type,
    .header button:first-of-type + button,
    .header button:first-of-type + button + button {
        grid-row: 3;
        grid-column: auto;
    }

    .project-container {
        grid-area: 3 / 1 / 5 / 3;
    }

    .announcement-container {
        grid-area: 6 / 1 / 7 / 3;
    }
    
    .trending-container {
        grid-area: 7 / 1 / 8 / 3;
    }
    
}